# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Github\Rice-On-Salad\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
